services:
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    environment:
      # Format: name:host:port(:password)
      REDIS_HOSTS: "local:redis:6379"
      # Optional basic auth for the UI:
      HTTP_USER: "admin"
      HTTP_PASSWORD: "change-me"
    ports:
      - "8081:8081"
    depends_on:
      - redis  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
  waha:
    container_name: waha
    image: devlikeapro/waha-plus:arm-2025.12.1
    ports:
      - "3000:3000"
    volumes:
      - waha_data:/app/data
      - waha_data:/app/.sessions
      - waha_data:/app/.media
    env_file:
      - .env
    restart: unless-stopped
  db:
    image: pgvector/pgvector:pg17        # Postgres + pgvector baked in
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: langgraph              # DB for LangGraph checkpointer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"                       # expose locally
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4:latest
    # container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  
  # app:
  #   build: .
  #   container_name: whatsapp-gpt
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  #   ports:
  #     - "8765:8765"
  #   volumes:
  #     - .:/app
  #   depends_on:
  #     - redis
  #     - waha
  #     - db

volumes:
  waha_data:
  pg_data:
  pgadmin_data:
  redis_data: