requests
openai
flask
streamlit
python-dotenv
qrcode[pil]
redis
# LangGraph and LangChain dependencies
langgraph
langgraph-cli
langgraph-sdk
langgraph-checkpoint-postgres
langchain
langchain-openai
langchain-google-genai
langchain-postgres
langsmith
psycopg[binary]
langgraph-cli[inmem]
# RAG / Vector Store dependencies
qdrant-client
langchain-qdrant
retry